body {
    background-color:aqua;
    background-image: url(./images/backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.header {
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

