body {
    background-color:aqua;
    background-image: url(./images/backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.header {
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: white;
    opacity: 95%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.nav {

    flex-direction: column;
    justify-content: center;
    background-color: blue;
}

.main-content {

    background-color: purple;
}

.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    opacity: 90%;
}

#facebook{
    margin: 0px 5px 5px 325px;
}
#instagram {
    margin: 0px 10px 5px 5px;
}